<h1 class="display-5 fw-bold"> Etiquetas html app </h1>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card text-dark bg-ligth" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"> APLICACION CON CON AYUDA GRAFICA PARA ENTENDER MEJOR</h5>
        <h6 class="card-subtitle mb-2 text-muted"> Conocimiento basico de html</h6>
      <p class="card-text">Por ejemplo La etiqueta h1 también conocida como "etiqueta de título", es la encargada de representar todo el contenido de una página dentro de un sitio web. 
        Se considera la etiqueta más importante ya que debe de incluir la palabra clave del tema principal y no debe de existir más de una etiqueta por página.</p>
      <a [routerLink]="['/home']" class="card-link">HOME</a>
    </div>
  </div>
 </div>

 <div class="col">
   <div class="card text-dark bg-ligth" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title"> Aplicación de Consulta HTML</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Con explicación clara </h6>
      <p class="card-text">El primer artículo de nuestra serie te proporciona una primera experiencia de creación de un formulario web, que incluye diseñar un formulario sencillo con controles de formulario adecuados y otros elementos HTML, añadir un poco de estilo muy simple con CSS y describir cómo se envían los datos a un servidor.</p>
        <a [routerLink]="['/home']" class="card-link">HOME</a>
    </div>
   </div>
 </div>

 <div class="col">
   <div class="card text-dark bg-ligth" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title">Aplicación con etiquetas</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Te ayuda graficamente </h6>
      <p class="card-text">De manera visual veras tarjetas con cada una de sus etiquetas de manera simultanea</p>
        <a [routerLink]="['/home']" class="card-link">HOME</a>
     </div>
   </div>
  </div>
</div>