<h1 class="display-5 fw-bold"> Etiquetas html de h1 a h6  </h1>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card text-dark bg-ligth" style="width: 18rem;">
      <div class="card-body">
      <h5 class="card-title"> ¿ Que es la etiqueta h1?</h5>
      <h6 class="card-subtitle mb-2 text-muted"> h1 Etiqueta de titulo</h6>
      <p class="card-text">La etiqueta h1 también conocida como "etiqueta de título", es la encargada de representar todo el contenido de una página dentro de un sitio web. 
        Se considera la etiqueta más importante ya que debe de incluir la palabra clave del tema principal y no debe de existir más de una etiqueta por página.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
 </div>

 <div class="col">
   <div class="card text-dark bg-ligth" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title"> ¿ Que es la etiqueta h2 ?</h5>
      <h6 class="card-subtitle mb-2 text-muted"> h2 Encabezado de subtitulos </h6>
      <p class="card-text">La etiqueta h2 también conocida como "Etiqueta de subtítulo", es la encargada de dividir el contenido de la página e indicar los componentes del tema propuesto en la etiqueta h1. 
        Se considera la segunda etiqueta más importante y puede existir más de una etiqueta dentro de una misma página.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
   </div>
 </div>

 <div class="col">
   <div class="card text-dark bg-ligth" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title"> ¿ Que es la etiqueta h3, h4, h5, h6 ?</h5>
      <h6 class="card-subtitle mb-2 text-muted"> h3, h4, h5, h6 Subtema de Subtitulos </h6>
      <p class="card-text">Las etiques h3, h4, h5, h6 tatambién conocidas como "Subtemas de Subtítulo", son las responsables de captar las principales ideas que se representan en la etiqueta H2 dentro de una página web. Puede existir más de una de estas etiquetas dentro de la página y generalmente se utilizan para señalar listas o contenido dentro del footer y el menú.
        Ciertamente, no son tan considerados como parámetros dentro del posicionamiento. Sin embargo, suelen ser bastante útiles para reforzar ideas y generar ejemplos. </p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
     </div>
   </div>
  </div>
</div>