<h1> Formato de texto </h1>
<p> HTML contiene varios elementos para definir texto con un significado especial. </p>
<hr>
<img class="imagen-flex"src="assets/img/imgs/img/HTML Text Formatting.png"> <br><br>
<p> HTML proporciona etiquetas de formato especiales para formatear texto en la página. Podemos usar estas etiquetas para modificar la forma en que se muestra el texto al usuario.
    Por ejemplo, podemos poner en negrita algunos elementos de texto, o podemos poner en negrita y subrayar elementos importantes, etc.</p>
<h3> Ejemplos </h3>
<p> Podemos poner texto en negrita usando la etiqueta <span class="negritas">< b > </span> texto en negrita <span class="negritas">< /b > </span> </p>
<p> Podemos poner texto en cursiva usando la etiqueta <span class="negritas">< i > </span> texto esta en cursiva <span class="negritas">< /i > </span> </p>
<p> Podemos poner un subindice y un superindice usando la etiqueta <span class="negritas">< sub > </span> subindice <span class="negritas">< /sub > </span> y <span class="negritas">< sup > </span> superindice <span class="negritas">< /sup > </span></p>
<p> <span class="negritas">< b > </span> Este texto esta en negrita <span class="negritas">< /b > </span> </p>
<p> <span class="negritas">< i > </span> Este texto esta en cursiva <span class="negritas">< /i > </span> </p>
<p><span class="negritas">< p > </span> Este es un <span class="negritas">< sub > </span> subindice <span class="negritas">< /sub > </span> y <span class="negritas">< sup > </span> superindice <span class="negritas">< /sup > </span> <span class="negritas">< /p > </span> </p>

<h4> El resultado es el siguiente </h4>
<p><b> Este texto esta en negrita </b></p>
<p><i> Este texto esta en cursiva </i></p>
<p> Este es<sub> subindice </sub> y <sup> superindice </sup></p>
<hr>
<br>
<h2> HTML <span class="negritas">< small > </span> Element </h2>
<p> El elemento HTML <span class="negritas">< small> </span> <span class="negritas">< /small > </span>define el texto mas pequeño </p>
<h3> Ejemplo </h3>
<span class="negritas">< p > </span> Este texto es normal <span class="negritas">< /p > </span>
<p> <span class="negritas">< small > </span> Este texto esta enfatizado <span class="negritas">< /small > </span></p>
<h4> El resultado es el siguiente </h4>
<p> Este texto es normal</p>
<p><small> Este texto esta enfatizado </small></p>
<hr>
<br>
<h2> HTML <span class="negritas">< del > </span> Element </h2>
<p> El elemento HTML <span class="negritas">< del > </span> define el texto que se ha eliminado de un documento. Los navegadores generalmente marcarán una línea a través del texto eliminado: </p>
<h3> Ejemplo </h3>
<p> <span class="negritas">< p > </span> Mi color favorito es <span class="negritas">< del > </span> azul <span class="negritas">< /del > </span> rojo <span class="negritas">< /p > </span> </p>
<h4> El resultado es el siguiente </h4>
<p> Mi color favorito es <del> azul </del> rojo </p>
<hr>
<br>
<h2> HTML <span class="negritas">< ins > </span> Element</h2>
<p> El elemento HTML<span class="negritas">< ins > </span> define un texto que se ha insertado en un documento. Los navegadores normalmente subrayarán el texto insertado:</p>
<h3> Ejemplo </h3>
<p> <span class="negritas">< p > </span> Mi color favorito es <span class="negritas">< del > </span> azul <span class="negritas">< /del > </span> <span class="negritas">< ins > </span> rojo <span class="negritas">< /ins > </span> <span class="negritas">< /p > </span> </p>
<h4> El resultado es el siguiente </h4>
<p>My favorite color is <del>blue</del> <ins>red</ins>.</p>
<hr> 
<br>
<a class="btn btn-info" [routerLink]="['/html']"> Regresar...</a>

