<h1> HTML Elements</h1>
<p> Un elemento HTML se define mediante una etiqueta de inicio, algo de contenido y una etiqueta de finalización. </p>
<hr>
<br>
<img class="imagen-flex"src="assets/img/imgs/img/HTML Elements.png"> <br><br>
<h2> HTML Elements  </h2>
<p> El elemento HTML es todo, desde la etiqueta de inicio hasta la etiqueta final: <
    <p> <span class="negritas">< tagname > </span> El contenido va aquí...<span class="negritas">< /tagname > </span></p>
    <h3> Ejemplos </h3>
    <p> <span class="negritas">< h1 > </span> Mi primer encabezado <span class="negritas">< /h1 > </span> </p>
    <p> <span class="negritas">< p > </span> Mi primer parrafo <span class="negritas">< /p > </span> </p>

    <h5> El resultado es el siguiente </h5>
    <h1>Mi primer encabezado </h1>
    <p> mi primer parrafo </p>
<hr>
<br>
<h2> Nested HTML Elements </h2>
<p> Los elementos HTML se pueden anidar (esto significa que los elementos pueden contener otros elementos). </p>
<p> Todos los documentos HTML constan de elementos HTML anidados. </p>
<p> El siguiente ejemplo contiene cuatro elementos HTML ( html, body, h1 y p ). </p>
<h3> Ejemplo </h3>
<p>  <span class="negritas">< !DOCTYPE html > </span> <br>
  <span class="negritas">< html > </span> <br>
  <span class="negritas">< body > </span> <br>
    
  <span class="negritas">< h1 > </span> Mi primer encabezado  <span class="negritas">< /h1 > </span> <br>
  <span class="negritas">< p > </span> Mi primer parrafo  <span class="negritas">< /p > </span> <br>
    
  <span class="negritas">< /body > </span> <br>
  <span class="negritas">< /html > </span> </p> <br>
    <h5> El resultado es el siguiente </h5>
    <!DOCTYPE html>
<html>
<body>

<h1> Mi primer encabezado </h1>
<p> Mi primer parrafo </p>

</body>
</html>
<hr>
<br>
<h2> Empty HTML Elements </h2>
<p> Los elementos HTML sin contenido se denominan elementos vacíos. </p>
<p> La etiqueta<span class="negritas">< br >  </span> define un salto de línea y es un elemento vacío sin una etiqueta de cierre:</p>
<h3> Ejemplos </h3>
<p> <span class="negritas">< p > </span> Este es un <span class="negritas">< br > </span>  parrafo con salto de linea.<span class="negritas">< /p > </span> </p>
<h5> El resultado es el siguiente </h5>
<p> Este es un  <br> parrafo con salto de linea </p>
<hr>
<br>
<a class="btn btn-info" [routerLink]="['/html']"> Regresar...</a>