<h1> HTML Comments</h1>
<p> Los comentarios HTML son visibles en el código fuente de la página para explicar código, pero no se representan en la parte visual del navegador Web.</p>
<p> Este elemento se usa para agregar un comentario a un documento HTML. Un comentario HTML comienza con  <span class="negritas">< !–– y el comentario se cierra con –– > </span> </p>
<p> Los comentarios HTML son visibles para cualquiera que vea el código fuente de la página, pero no se representan cuando el navegador procesa el documento HTML.</p>
<hr>
<img class="imagen-flex"src="assets/img/imgs/img/HTML Comments.png"> <br><br>
<h2> HTML Comment Tag</h2>
<p> Puede agregar comentarios a su fuente HTML usando la siguiente sintaxis: </p>
<span class="negritas">< !-- Write your comments here -- >  </span> 
<p> Notice that there is an exclamation point (!) in the start tag, but not in the end tag.</p>
<hr>
<br>
<h2> Add Comments </h2>
<p> Con los comentarios puedes colocar notificaciones y recordatorios en tu código HTML: </p>
<h3> Ejemplo </h3>
<span class="negritas">< !-- Este es un comentario -- ></span><br>
<span class="negritas">< p > </span> Este es un parrafo <span class="negritas">< /p > </span><br>
<span class="negritas">< !-- Los comentarios no se muestran en el navegador. -- > </span> <br>
<br>
<h5> El resultado es el siguiente </h5>
<!-- Este es un comentario  -->
<p> Este es un parrafo </p>
<!-- Los comentarios no se muestran en el navegador. -->
<hr>
<br>
<h2> Hide Inline Content </h2>
<p> Los comentarios se pueden usar para ocultar partes en medio del código HTML.</p>
<h3> Ejemplo </h3>
<p> Ocultar una parte de un párrafo: </p>
<p> <span class="negritas">< p > </span> Este  <!-- great text --> es un parrafo. <span class="negritas">< /p > </span> </p>
<h5> El resultado es el siguiente </h5>
<p> Este <!-- great text --> es un parrafo.</p>
<hr>
<br>
<a class="btn btn-info" [routerLink]="['/html']"> Regresar...</a>

