<h1> Parrafos en HTML</h1>
<p> El elemento HTML <span class="negritas">< p > </span> <span class="negritas">< /p > </span> un párrafo. </p>
<p> Un párrafo siempre comienza en una nueva línea y los navegadores agregan automáticamente un espacio en blanco (un margen) antes y después de un párrafo. </p>
<hr>
<br>
<img class="imagen-flex"src="assets/img/imgs/img/HTML Paragraphs.png"> <br><br>
<h3> Ejemplo </h3>
<p> <span class="negritas">< p > </span> Este es un parrafo de texto en HTML <span class="negritas">< /p > </span> </p>
<p> <span class="negritas">< p > </span> Este es otro parrafo  de texto en HTML <span class="negritas">p></span> </p>
<h5> El resultado es este </h5>
<p> Este es un parrafo en HTML </p>
<p> Este es otro parrafo de texto en HTML</p>
<hr>
<br>
<h2> Pantalla HTML </h2>
<p> Con HTML, no puede cambiar la visualización agregando espacios adicionales o líneas adicionales en su código HTML.
 El navegador eliminará automáticamente cualquier espacio y línea adicional cuando se muestre la página. </p>
 <h3> Ejemplo </h3>
 <p><span class="negritas">< p > </span> Este párrafo <br>
    contiene muchas lineas <br>
    en el código fuente, <br>
    pero el navegador <br>
    lo ignora <span class="negritas">< /p > </span> </p> <br>
    <p> <span class="negritas">< p > </span> Este párrafo <br>
        contiene <br> muchos espacios <br>
        en el <br> código  fuente, <br>
        pero el  <br>  navegador <br>
        lo  <br>  ignora <span class="negritas">< /p > </span> </p>
<hr>
<br>
<h2> Reglas horizontales HTML </h2>
<p> La etiqueta <span class="negritas">< hr > </span> define una ruptura temática en una página HTML y se muestra con mayor frecuencia como una regla horizontal.</p>
<p> El elemento <span class="negritas">< hr > </span>se usa para separar contenido (o definir un cambio) en una página HTML. </p>
<h3> Ejemplo </h3>
<p><span class="negritas">< h1 > </span> Este es encabezado 1 <span class="negritas">< /h1 > </span> <br>
    <span class="negritas">< p > </span> Este es un texto. <span class="negritas">< /p > </span> <br>
    <span class="negritas">< hr > </span> <br>
    <span class="negritas">< h2 > </span> Este es encabezado 2 <span class="negritas">< /h2 > </span> <br>
    <span class="negritas">< p > </span> Este es otro texto. <span class="negritas">< /p > </span> <br>
    <span class="negritas">< hr > </span> </p>
<h5> El resultado es el siguiente </h5>
<h1> Este es encabezado 1</h1>
<p> Este es un texto</p>
<hr>
<h2> Este es encabezado 2 </h2>
<p> este es otro texto</p>
<hr>
<p> La etiqueta <span class="negritas">< hr > </span> es una etiqueta vacía, lo que significa que no tiene una etiqueta final. </p>
<hr>
<br>
<h2> Saltos de línea HTML</h2>
<p> El elemento HTML <span class="negritas">< br > </span> define un salto de línea. </p>
<p> Use <span class="negritas">< br ></span> si desea un salto de línea (una nueva línea) sin comenzar un nuevo párrafo</p>
<h3> Ejemplo </h3>
<p> <span class="negritas">< p > </span> Este es <span class="negritas">< br > </span> un parrafo<span class="negritas">< br > </span> con salto de linea <span class="negritas">< /p > </span> </p>
<h5> El resultado es el siguiente </h5>
<p> Este es <br> un parrafo <br> con salto de linea </p>
<hr>
<br>
<a class="btn btn-info" [routerLink]="['/html']"> Regresar...</a>


