<div class="p-5 mb-4 text-white bg-dark rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold"> ETIQUETAS HTML  </h1>
      <p class="col-md-8 fs-4"> Bienvenido a la aplicacion de HTML en donde podras encontrar las etiquetas basicas junto con su explicacion y funcionalidad para poder realizar una pagina web.<br><br>
       Realizado por: Rene Salas y Pedro Cervantes <br>
        Profesor: Ing. Jose Eduardo Valadez Rodrigez <br>
        Carrera: Ingenieria en Sistemas Computacionales <br>
        Universidad: Tecnologico Universitario Aguascalientes <br>
        Materia: Desarrollo Web Basico
    </p>
    </div>
  </div>

   
   
       
    
 

