<div class="p-5 mb-4 text-white bg-dark rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold"> ETIQUETAS HTML  </h1>
      <p class="col-md-8 fs-4"> Bienvenido a la aplicación de HTML en donde podrás encontrar las etiquetas básicas junto con su explicación y funcionalidad para poder realizar una página web.<br><br>
        Realizado por: Rene Salas y Pedro Cervantes. <br>
         Profesor: Ing. José Eduardo Valadez Rodríguez. <br>
         Carrera: Ingeniería en Sistemas Computacionales. <br>
         Universidad: Tecnológico Universitario Aguascalientes. <br>
         Materia: Desarrollo Web Básico.
     </p>
 
    </div>
  </div>

   
   
       
    
 

