<h1> ¿ Que son los atributos en HTML ? </h1>
<p> Los atributos en HTML se pueden considerar como información adicional que se coloca siempre en la etiqueta de apertura, esto para añadir, complementar información o significado al elemento HTML al que estamos colocando.</p>
<p> Los atributos HTML van siempre dentro de la etiqueta de apertura y sirven para modificar o agregar alguna característica al contenido.</p>
<hr>
<img class="imagen-flex"src="assets/img/imgs/img/HTML Attributes.png"> <br><br>
<h2> Atributos HTML</h2>
<ul>
    <li> Todos los elementos HTML pueden tener atributos. </li>
    <li> Los atributos proporcionan información adicional sobre los elementos. </li>
    <li> Los atributos siempre se especifican en la etiqueta de inicio. </li>
    <li> Attributes usually come in name/value pairs like: name="value" </li>
</ul>
<hr>
<br>
<h2> El atributo href </h2>
<p><span class="negritas">< a > </span> <span class="negritas">< /a > </span> Es una etiqueta que nos ayuda a poder crear un enlace a una página web. El atributo principal de la etiqueta HTML es href, donde pondremos el enlace al que queremos conectar. Otro atributo muy usado es target, el cual nos sirve para indicar si el enlace se abrirá en una nueva ventana o en la misma.</p>
<h3> Ejemplo </h3>
<p> Esta es la forma de enlazar una pagina </p>
<p> <span class="negritas">< a href="https://www.youtube.com/watch?v=kN1XP-Bef7w.com"> </span>  Dar click aqui  <span class="negritas">< /a > </span> </p>
<p> Dar un click en el enlace de abajo y te llevara a una pagina donde puedas obtener mas informacion </p>
<a href="https://www.youtube.com/watch?v=kN1XP-Bef7w.com"> Dar click aqui </a>
<hr>
<br>
<h2> El atributo src</h2>
<p> La etiqueta  <span class="negritas">< img > </span> se utiliza para incrustar una imagen en una página HTML. El atributo src especifica la ruta a la imagen que se mostrará  que puede ser una URL relativa o absoluta </p>
<h3> Ejemplo </h3>
<p> Esta es la forma de agregar  una imagen</p>
<p> <span class="negritas">< img class="imagen-flex"src="assets/img/logos.png" > </span> </p>
<p> El resultado es esta imagen</p>
<img class="imagen-flex"src="assets/img/logos.png">
<hr>
<br>
<h2> El atributo alt </h2>
<p> El atributo alt requerido para la etiqueta<span class="negritas">< img > </span> especifica un texto alternativo para una imagen, si la imagen por algún motivo no se puede mostrar. Esto puede deberse a una conexión lenta, a un error en el atributo src, o si el usuario usa un lector de pantalla.</p>
<h3> Ejemplo </h3>
<p> Esta es la forma de indicar lo que contiene la imagen cuando no se carga </p>
<p> <span class="negritas">< img src="img_girl.jpg" alt=" Niña con una chamarra" > </span> </p>
<img src="img_girl.jpg" alt=" Niña con una chamarra ">
<hr>
<br>
<h2> El atributo del titulo </h2>
<p> El atributo de título define información adicional sobre un elemento. </p>
<p> Las etiquetas<span class="negritas">< title > </span> se colocan dentro de la etiqueta <span class="negritas">< head > </span> y normalmente se usan para describir el contenido de la página, de la siguiente manera:</p>
<h3> Ejemplo </h3>
<p> Esta es la manera de poner titulos </p>
<p> <span class="negritas">< title > </span> Introducción a HTML <span class="negritas">< /title > </span> </p> 
<p> <title>Introducción a HTML</title> </p>
<hr>
<br>
<h2> El atributo table </h2>
<p> La etiqueta Table es sin duda la mejor opción para representar elementos en formato tabular o en tabla, debido a que permite crear rejillas perfectas en las cuales color los datos como si se tratara de una hoja de Excel.</p>
<h4> Celdas de tablas </h4>
<p> Cada celda de la tabla está definida por una etiqueta <span class="negritas">< td > </span> y <span class="negritas">< /td > </span> </p>
<h4> Filas de tablas </h4>
<p> Cada fila de la tabla comienza con una etiqueta <span class="negritas">< tr ></span> y termina con una etiqueta <span class="negritas">< /tr > </span> .</p>
<h4> Encabezados de tabla </h4>
<p> A veces desea que sus celdas sean encabezados, en esos casos use la etiqueta <span class="negritas">< th > </span> en lugar de la etiqueta <span class="negritas">< td > </span></p>
<h3> Ejemplo </h3>
<p> Esta es la forma de realizar una tabla  usando tambien , celdas de tablas, filas de tablas y encabezados de tablas </p>
<p> <span class="negritas">< table > </span> <br>
    <span class="negritas">< tr > </span> <br>
    <span class="negritas">< th > </span> Empresa <span class="negritas">< /th > </span> <br>
    <span class="negritas">< th > </span> Contacto <span class="negritas">< /th > </span> <br>
    <span class="negritas">< th > </span> Pais <span class="negritas">< /th > </span> <br>
    <span class="negritas">< /tr > </span> <br>
     <span class="negritas">< tr > </span> <br>
    <span class="negritas">< td > </span> KFC <span class="negritas">< /td > </span> <br>
    <span class="negritas">< td > </span> Maria Juarez <span class="negritas">< /td > </span> <br>
    <span class="negritas">< td > </span> Alemania <span class="negritas">< /td > </span> <br>
    <span class="negritas">< /tr > </span> <br>
    <span class="negritas">< tr > </span> <br>
    <span class="negritas">< td > </span> Centro comercial Moctezuma<span class="negritas">< /td ></span> <br>
    <span class="negritas">< td > </span> Francisco Chang<span class="negritas">< /td ></span> <br>
    <span class="negritas">< td > </span> Mexico<span class="negritas">< /td ></span> <br>
    <span class="negritas">< /tr > </span> <br>
    <span class="negritas">< /table > </span> <br>
</p>
<h5> Esto nos da como resultado </h5> <br>
<section id="tabla">
<table class=" empresa" >
  <thead>
    <tr>
      <th> Empresa </th>
      <th> Contacto </th>
      <th> Pais </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> KFC </td>
      <td>Maria Juarez </td>
      <td> Alemania </td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>
  <br>
  <hr>
  <br>
    </section>
  <h2> El atributo ol, ul y li</h2>
  <p> Las listas en HTML nos permite crear conjuntos de elementos en forma de lista dentro de una página, todos los cuales irán precedidos, generalmente, por un guión o número.</p>
  <h3> Listas ordenadas </h3>
  <p> Las listas en HTML ordenadas son aquellas que nos muestran los elementos de la lista en orden. Para representar el orden tendremos los elementos numerados. Es decir, cada uno de los elementos irá precedido de un número o letra que establezca su orden. </p>
  <h5> Las listas en HTML ordenadas se representan mediante el elemento OL. </h5> 
  <p> <span class="negritas">< ol ></span> ... <span class="negritas">< /ol > </span> </p>
  <h5> Cada uno de los elementos de la lista ordenada se representará mediante el elemento li. </h5> 
  <p> <span class="negritas">< ol > </span>
    <span class="negritas">< li > </span> Elemento 1 <span class="negritas">< /li > </span><br>
    <span class="negritas">< li > </span> Elemento 2 <span class="negritas">< /li > </span><br>
    ...
    <span class="negritas">< li > </span> Elemento N <span class="negritas">< /li > </span><br>
    <span class="negritas">< /ol > </span> </p>
    <h3> Un ejemplo de lista ordenada sería el siguiente</h3>
    <p> <span class="negritas">< ol > </span><br>
        <span class="negritas">< li > </span> Armando <span class="negritas">< /li > </span><br>
        <span class="negritas">< li > </span> Leticia <span class="negritas">< /li > </span><br>
        <span class="negritas">< li > </span> Luis <span class="negritas">< /li > </span><br>
        <span class="negritas">< /ol > </span> </p>
        <h5> Que produciría el siguiente efecto: </h5>
        <p> 1.- Armando </p>
        <p> 2.- Leticia </p>
        <p> 3.- Luis </p>
    <h3> Listas desordenadas </h3>
    <p> Las listas desordenadas en HTML nos sirven para mostrar los elementos sin ningún tipo de orden, simplemente precedidos por una viñeta que puede ser un punto, un cuadrado,… </p>
    <h5> Para definir una lista desordenada en HTML utilizamos el elemento ul. </h5>
    <p> <span class="negritas">< ul > </span> ... <span class="negritas">< /ul > </span> </p>
    <h5> Para representar los elementos de la lista desordenada utilizamos el mismo elemento que con las listas ordenadas, es decir, el elemento li. </h5>
    <p> <span class="negritas">< ol > </span>
        <span class="negritas">< li > </span> Elemento 1 <span class="negritas">< /li > </span><br>
        <span class="negritas">< li > </span> Elemento 2 <span class="negritas">< /li > </span><br>
        ...
        <span class="negritas">< li > </span> Elemento N <span class="negritas">< /li > </span><br>
        <span class="negritas">< /ol > </span> </p>
        <h5> De esa forma podríamos tener el siguiente código HTML </h5>
        <p> <span class="negritas">< ul > </span><br>
            <span class="negritas">< li > </span> Mexico <span class="negritas">< /li > </span><br>
            <span class="negritas">< li > </span> Italia <span class="negritas">< /li > </span><br>
            <span class="negritas">< li > </span> Japon <span class="negritas">< /li > </span><br>
            <span class="negritas">< /ul > </span> </p>
    <h5> Lo que nos mostrará por pantalla: </h5>
    <p> - Mexico </p>
    <p> - Italia </p>
    <p> - Japon </p>
    <hr>
    <br>
    <a class="btn btn-info" [routerLink]="['/html']"> Regresar...</a>
