<h1> ¿ Que son los encabezados en HTML ? </h1>
<p> Los encabezados HTML o heading tags son etiquetas de código HTML que se utilizan para definir los títulos y subtítulos de una página. ¿Y cómo se definen estos encabezados? . <br>
     Con la etiqueta  <span class="negritas">< Hn > </span> donde “n” es un número entre 1 y 6 que indica la jerarquía de dicha cabecera. 
    Es decir, con esta etiqueta podemos implementar seis niveles de encabezado en el documento: <span class="negritas">< h1 > </span> es el más relevante y <span class="negritas">< h6 ></span> el menos relevante.
</p>
<hr>
<img class="imagen-flex"src="assets/img/imgs/img/HTML Headings.png"> <br><br>
<h2> Para que se usan las etiquetas "H"</h2> <br>
<h3> h1: Etiqueta de titulos </h3>
<p> El <span class="negritas">< h1 > </span>es una etiqueta que permite identificar aquellas frases que conforman el título principal de un contenido de una página web. Es fundamental que este encabezado, por ser el más relevante, resuma en una frase el contenido de dicha página. También es esperable que, tanto para los motores de búsqueda como para los usuarios, esté situado en el primer tramo de un documento web. </p> 
<h3> h2: Etiqueta de subtitulos </h3>
<p> El <span class="negritas">< h2 > </span> es la etiqueta que en HTML permite identificar a los subtítulos. Normalmente se utilizan para producir un corte en el contenido y por supuesto, brindarle más información a los motores de búsqueda.</p>
<h3> Etiquetas h3, h4, h5 y h6 </h3>
<p> Las etiquetas <span class="negritas">< h3 > </span> ,<span class="negritas">< h4 > </span>, <span class="negritas">< h5 > </span> y  <span class="negritas">< h6 > </span> son utilizados para identificar subtítulos de menor jerarquía que se encuentran presentes dentro de secciones de ,<span class="negritas">< h2 > </span> y permite ser minucioso con el contenido de nuestra página web. Obviamente, a mayor número de etiquetas, menor relevancia para los motores de búsqueda.</p>
<br>
<h4> Veamos un ejemplo </h4>
<p> <span class="negritas">< h1 > </span> Encabezado nivel  1 <span class="negritas">< /h1 > </span> <br>
<span class="negritas">< h2 > </span> Encabezado nivel 2 <span class="negritas">< /h2 > </span> <br>
<span class="negritas">< h3 > </span> Encabezado nivel  3 <span class="negritas">< /h3 > </span> <br>
<span class="negritas">< h4 > </span> Encabezado nivel 4 <span class="negritas">< /h4 > </span> <br>
<span class="negritas">< h5 > </span> Encabezado nivel 5 <span class="negritas">< /h5 > </span> <br>
<span class="negritas">< h6 ></span> Encabezado nivel  6 <span class="negritas">< /h6 > </span> </p> <br>
<h4> Este es el resultado </h4>
<h1> Encabezado nivel 1 </h1>
<h2> encabezado nivel 2 </h2>
<h3> Encabezado nivel 3 </h3>
<h4> Encabezado nivel 4 </h4>
<h5> Evcabezado nivel 5 </h5>
<h6> Encabezado nivel 6 </h6>
<p> Ten en cuenta que la etiqueta <span class="negritas">< h > </span> podemos escribirla tanto en mayúsculas como en minúsculas. Es lo mismo escribir <span class="negritas">< h1 > </span> que <span class="negritas">< H1 > </span> aunque lo convencional es hacerlo en minúsculas. </p>
<hr>
<h3> ¿ Como utilizar correctamente las etiquetas de encabezado de HTML ?</h3>
<P> Sigue estas buenas prácticas y optimiza el uso de las etiquetas de encabezado HTML en tu código. </P>
<P> Evita omitir niveles de encabezado HTML. Es decir, comienza siempre con <span class="negritas">< h1 > </span> , después utiliza la <span class="negritas">< h2 > </span> y así sucesivamente.</P>
<P> Evita utilizar el <span class="negritas">< h1 > </span> más de una vez en una página. Esta etiqueta se usa una vez para mostrar el título de la página, seguido por los demás encabezados HTML, que comienzan con <span class="negritas">< h2 > </span> .</P>
<P> Tampoco debes utilizar niveles inferiores para reducir el tamaño de la fuente. Para esto, aplica la propiedad CSS font-size</P>
<hr>
<br>
<a class="btn btn-info" [routerLink]="['/html']"> Regresar...</a>